In [3]:
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np

In [27]:
misc_df = pd.read_csv("./data/misc_stats.csv")
opponent_per_100_df = pd.read_csv("./data/opponent_per_100_poss.csv")
opponent_shooting_df = pd.read_csv("./data/opponent_shooting.csv")
opponent_stats_df = pd.read_csv("./data/opponent_stats.csv")
opponents_per_game_df = pd.read_csv("./data/opponents_per_game.csv")
team_per_game_df = pd.read_csv("./data/team_per_game.csv")
team_shooting_df = pd.read_csv("./data/team_shooting.csv")
team_stats_df = pd.read_csv("./data/team_stats.csv")
standings_df = pd.read_csv("./data/standings.csv")
team_vs_team_df = pd.read_csv("./data/team_vs_team.csv")

In [28]:
standings_df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Place,Place.1,Conference,Conference.1,Division,Division.1,Division.2,...,All-Star,All-Star.1,Margin,Margin.1,Month,Month.1,Month.2,Month.3,Month.4,Month.5
0,Rk,Team,Overall,Home,Road,E,W,A,C,SE,...,Pre,Post,≤3,≥10,Oct,Nov,Dec,Jan,Feb,Mar
1,1,Milwaukee Bucks,53-12,28-3,25-9,34-5,19-7,9-2,13-1,12-2,...,46-8,7-4,3-1,36-7,2-2,15-1,13-2,11-2,10-1,2-4
2,2,Los Angeles Lakers,49-14,23-8,26-6,16-7,33-7,5-4,4-2,7-1,...,41-12,8-2,5-3,25-7,3-1,14-1,9-5,10-4,9-2,4-1
3,3,Toronto Raptors,46-18,23-9,23-9,30-10,16-8,8-4,12-3,10-3,...,40-15,6-3,6-4,21-9,4-1,10-3,9-7,12-3,7-3,4-1
4,4,Los Angeles Clippers,44-20,25-7,19-13,17-6,27-14,5-2,4-3,8-1,...,37-18,7-2,8-1,29-8,4-2,10-4,10-5,9-4,7-4,4-1